ServerFiles/config
ServerFiles/scripts
ServerFiles/mods

mods/carpentersblocks/CarpentersBlocksCachedResources.zip

*.disabled
saves
logs
*.log
dumps
.analytics
.curseclient
ChromatiCraft_Data
mystcraft
screenshots
backups
crash-reports
servers.dat
DragonAPI
ODL
FailedClasses
gmb
asm
*.classdata
BotaniaVars.dat
TIWorldData
usercache.json
mods/Reika
manifest.json
mod-config
ops.json
usernamecache.json
